@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Weather Forecast</h1>
    <h4>Detroit, MI</h4>
    <p>Current weather:  @ViewBag.CurrentText&deg and @ViewBag.CurrentTemp </p>
    <p>@ViewBag.CurrentDate</p>
    

</div>


@if (ViewBag.Error != null)
{
    <div>
        <h2>Error: Status @ViewBag.Error</h2>

        @ViewBag.ErrorDescription
        <br />
        @ViewBag.Data
    </div>
}
else
{
    <h2>Weather Forecast</h2>
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th width="20%">Time</th>
                <th width="10%">Temp</th>
                <th width="20%">Forecast</th>
                <th width="15%">P.O.P</th>
                <th width="25%">Description</th>
            </tr>

            @for (int i = 0; i < ViewBag.Times.Count; i++)
            {
                
                <tr>
                    <td>@ViewBag.Times[i]</td>
                    <td>@ViewBag.Temps[i] &deg</td>
                    <td>
                        <img src="@ViewBag.Icons[i]"
                             height="43" width="43" />
                    </td>
                    <td>@ViewBag.Pop[i]%</td>
                    <td>
                        @ViewBag.Descs[i]                    
                    <input type="submit" id="link-@i"
                       onclick="toggleMoreInfo('@i')"value="More Info"/>
                    <span id="text-@i" style="display:none">
                        @ViewBag.Texts[i]
                    </span>
                </td>
            </tr>
        }
       </table>

        <h3>More information: </h3>
        <ul>

            <li>Visibility: @ViewBag.Visibility</li>
            <li>Latitude: @ViewBag.Latitude</li>
            <li>Timezone: @ViewBag.Timezone</li>
            <li>Wind Speed: @ViewBag.Winds mph</li>

            
        </ul>
    </div>
}

<script>
    function toggleMoreInfo(fieldNumber) {
        if (document.getElementById('text-' + fieldNumber).style.display
                == "none") {
            document.getElementById('text-' + fieldNumber).style.display = 'block';
            document.getElementById('link-' + fieldNumber).value = 'Hide';
        } else {
            document.getElementById('text-' + fieldNumber).style.display = 'none';
            document.getElementById('link-' + fieldNumber).value = 'Show more';
        }
    }
</script>